<!-- <tweet-like 
    [likesCount]= "tweet.likesCount"
    [isActive] = "tweet.isActive">
</tweet-like> -->

<!-- <ul class="nav nav-tabs">
    <li class= "nav-item"><a [class.active]="modoVista == 'map'" class="nav-link"  (click) = "modoVista = 'map'">Map view</a></li>
    <li class="nav-item"><a [class.active]="modoVista == 'list'" class= "nav-link" (click) = "modoVista = 'list'">List view</a></li>
</ul>
<div [ngSwitch] = "modoVista">
    <div *ngSwitchCase = "'map'">Map content</div>
    <div *ngSwitchCase = "'list'">List content</div>
</div>

<ul>
    <li *ngFor="let elemento of miArray; index as i"> {{elemento}} numero {{i}}</li>
</ul> 

<input type="text"  [appMiDirectiva]="mayusculas"> -->

<!-- <zippy title="Cabecera numero 1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum assumenda sed non, dolores neque quia ex explicabo unde cumque illo aspernatur veniam, voluptatum inventore nam molestias alias, quasi rerum fuga.</zippy>
<zippy title="Bloque segundo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt quaerat eaque magni. Ut voluptate omnis, explicabo cumque doloremque temporibus velit!</zippy> -->


<!-- <contact-form></contact-form>
    
    <div class="checkbox">
        <label>
            <input type="checkbox" ngModel name="miCasilla"> Casilla para marcar
        </label>
</div>

<div class="form-group">
    <label for="listaOpciones"></label>
    <select ngModel name="listaOpciones" id="listaOpciones">
        <option value="">Seleccione una opcion</option>
        <option *ngFor="let opcion of misValoresPosibles" value="opcion.id">{{ opcion.name }}</option>
    </select>
</div>

<div ngModel class="radio">
    <label>
        <input type="radio" name="listaOpciones" value="1">
        Opcion 1
    </label>
</div>
<div ngModel class="radio">
    <label>
        <input type="radio" name="listaOpciones" value="2">
        Opcion 2
    </label>
</div> -->

<!-- <signup-form></signup-form> -->

<!-- <change-password-form></change-password-form> -->

<post-component></post-component> 